* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-size: 20px;
    color: #333333;
}

.container-index {
    width: 100vw;
    height: 100vh;
    background: url(../img/Hero.png) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-box {
    width: 98vw;
    height: 95vh;
}

.container-menu nav ul li {
    display: inline-block;
}

.container-menu nav ul li a {
    text-decoration: none;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    width: 10vw;
    height: auto;
    padding: 10px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 20px;
}

.btn-agregar{
    margin-right: 20px;
}
.btn-index:hover{
    background-color: #000;
    color: #fff;
}

.container-inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20vh;
}

.container-inf h1 {
    font-size: 50px
}

.container-inf p {
    width: 70%;
    font-size: 20px;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 5vh;
}

.btn-action {
    background-color: #98FB98;
    border: none;
    box-shadow: 0px 5px 10px #0000007c;
}

.btn-action:hover {
    background-color: #47c047;
}


/*INICIO login y signup*/
.container-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/image.png) no-repeat center center;
    background-size: cover;
}
.container-form{
    border-radius: 20px;
    width: 40vw;
    padding: 20px;
    justify-content: center;
    background-color: #0000001b;
}
.formulario{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.campo{
    width: 95%;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}

.btn-submit{
    margin-top: 20px;
}

.link:hover{
    color: blue;
}
.titulo-form{
    font-size: 40px;
}
/*FIN login y signup*/

/*INICIO home*/
.container-explore {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-inicio {
    width: 98vw;
    height: 95vh;
}

.search-bar {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 8px;
}

.container-images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 70vw;
    margin: 0 auto;
    padding-top: 40px;
}
.grid-item {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.elemento{
    display: flex;
    flex-direction: column;
}
.btn-elemento{
    width: 100%;
    background-color: #fff;
}
.btn-elemento:hover{
    background-color: #98FB98;
}
/*INICIO de vista de imágenes extendidas*/
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content img {
    border-radius: 20px;
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

.btn-container {
    margin-top: 10px;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 9998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.grid-item.filtered img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
/*FIN de vista de imágenes extendidas*/
/*FIN home*/

/*INICIO agregar imagenes*/
.container-add{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.container-add button{
    margin-top: 20px;
    width: 100%;
}
.container-add input{
    margin-bottom: 20px;
}
.form-add{
    display: flex;
    flex-direction: column;
}
.formulario-add{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*FIN agregar imagenes*/

.img-modificar{
    width: 10vw;
    height: 50vh;
}

.btn-home:hover{
    border: 2px solid white;
    background-color: black;
    color: white;
}

.selector-categoria{
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    margin-bottom: 10px;
}
.selector-imagen{
    background-color: lightgrey;
    border-radius: 20px;
    padding: 10px;
}

.logo-seleccionable{
    position: absolute;
    left: 20px;
    top: 20px;
}